.padding {
  padding-top: 25px;
}

.carousel-item img {
  max-height: 400px;
  width: 100%;
  object-fit: contain; /* This will maintain aspect ratio */
}

.carousel-content {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.carousel-item {
  padding: 20px;
}

.rating {
  font-size: 1.2rem;
}

.footerchange {
  padding-bottom: 20px;
  text-align: right;
}
